<!DOCTYPE html>
<html>

<head>
    <title>Forgot Password</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="static/stylesanjavascript/css/forgotpasswordpage.css" />
</head>

<body>
    <!-- Toast message -->
    <div id="toast" class="toast">
        <span id="toast-message"></span>
    </div>
    <div class="forgotpassword-container">
        <form id="forgotpasswordform">
            <img id="login-image" src='static/images/elitegrocers_logo.jpg' alt="logo" />
            <p id="logintext">Elite Grocers</p>
            <h1 class="h1">Forgot Password</h1>
            <hr />
            <div class="form-group">
                <label for="useroremailin" class="loginlable">Username or Email</label>
                <input type="text" id="useroremailin" name="useroremailin" />
            </div>
            <div class="form-group" id="otp-container" style="display: none;">
                <label for="otp" class="loginlable">OTP</label>
                <input type="text" id="otp" name="otp" />
                <a id="resendotp" href="#">Resend OTP</a>
            </div>
            <div class="form-group" style="display: none" id="Password1">
                <label for="password" class="loginlable">New Password</label>
                <input type="password" id="password" name="password" />
            </div>
            <div class="form-group" style="display: none" id="Password2">
                <label for="confirmpassword" class="loginlable">Confirm Password</label>
                <input type="password" id="confirmpassword" name="confirmpassword" />
            </div>
            <div class="submit">
                <input type="submit" id="submit" value="Submit" />
                <input type="button" id="verifyotpbtn" value="Verify OTP" style="display: none;" />
                <input type="button" id="changepasswordbtn" value="Change Password" style="display: none;" />
                <div class="loading-icon" id="loading-icon1"></div>
                <input type="button" id="close-forgotpassword" value="Close" />
            </div>
        </form>
    </div>

   <script src="static/stylesanjavascript/js/forgotpasswordpage.js"></script>
</body>

</html>