:root {
    --primary-color: #8affa3;
    --primary-color-dark: #5cb85c;
    --primary-color-darker: #3e8e41;
    --secondary-color: #2baa5b;
    --secondary-color-dark: #16801e;
    --highlight-color: #2e92d4;
    --text-color: #ffffff;
    --text-muted: #4caf50;
    --text-muted-alt: #185525;
    --border-color-for-nav: #4caf50;
    --bg-color: #121212;
    --bg-color-light: #272727;
    --border-color: var(--primary-color);
    --nav-bg: #272727;
    --card-bg: #1e1e1e;
    --input-bg: #333;
    --cardbg: #ffffffa8;
    --gradient: linear-gradient(270deg, #121212, #272727, #121212);
}

.skeleton,.skeleton1{
  border-radius: 30px;
  min-height: 16px;
  width: 100%;
  background: var(--gradient);
  background-size: 600% 600%;
  animation: skeleton-loading 1.5s linear infinite alternate;
}
.skeleton-img {
  width: 1600px;
  height: 255px;
  background: var(--gradient);
  border-radius: 30px;
  background-size: 600% 600%;
  animation: skeleton-loading 1.5s linear infinite alternate;
}
.skeleton-img1 {
  width: 430px;
  height: 230px;
  background: var(--gradient);
  border-radius: 8px;
  background-size: 600% 600%;
  animation: skeleton-loading 1.5s linear infinite alternate;
}
@keyframes skeleton-loading {
    0% {
        background-position: 0% 50%;
    }

    50% {
        background-position: 100% 50%;
    }

    100% {
        background-position: 0% 50%;
    }
}




body {
    background-color: var(--bg-color);
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 100vh;
    background: var(--gradient);
    background-size: 600% 600%;
    animation: gradientBackground 8s ease infinite;
}

@keyframes gradientBackground {
    0% {
        background-position: 0% 50%;
    }

    50% {
        background-position: 100% 50%;
    }

    100% {
        background-position: 0% 50%;
    }
}

h1 {
    text-align: center;
    margin: 10px;
    color: var(--primary-color);
}

form {
    display: flex;
    align-items: center;
}

#formsearch {
    display: none;
    align-items: center;
    gap: 10px;
    align-self: flex-end;
    margin: 10px 100px;
}

label {
    display: block;
    font-size: 18px;
    color: var(--primary-color);
}

input#search {
    border-radius: 15px;
    padding: 6px;
}

select {
    margin-right: 10px;
    padding: 5px;
    border-radius: 30px;
}

button {
    padding: 5px 10px;
    background-color: var(--text-muted);
    color: white;
    border: none;
    cursor: pointer;
    border-radius: 30px;
    transition: background-color 0.3s ease, transform 0.2s ease;
}

button:hover {
    background-color: #5fd78f;
    transform: scale(1.05);
}

button:active {
    background-color: var(--text-muted);
    transform: scale(0.95);
}

.order-list {
    display: flex;
    flex-direction: column;
    gap: 20px;
    height: 800px;
    overflow-y: scroll;
    scrollbar-width: thin;
    scrollbar-color: var(--secondary-color) transparent;
    scroll-behavior: smooth;
    width: 100%;
    align-items: center;
    margin-top: 70px;
}

.order-container {
    width: 1394px;
    border: solid var(--primary-color);
    padding: 30px;
    background-color: var(--cardbg);
    border-radius: 20px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    transition: transform 0.3s, box-shadow 0.3s;
    margin-bottom: 15px;
}

.order-container:hover {
    transform: translateY(-10px);
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
}

.order-header {
    font-weight: bold;
    margin-bottom: 10px;
}

.order-details {
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
}

.order-detail {
    flex: 1 1 200px;
    display: flex;
    align-items: center;
    gap: 10px;
}

.order-actions {
    margin-top: 10px;
    display: flex;
    gap: 10px;
}

hr {
    border: 0;
    height: 1px;
    background: #000000;
    margin: 20px 0;
}

.order-container {
    opacity: 0;
    transform: translateY(10px);
    transition: opacity 0.4s ease, transform 0.4s ease;
}

.order-container.fade-in {
    opacity: 1;
    transform: translateY(0);
}

.pincode-container {
    margin-bottom: 40px;
}

.toast {
    visibility: hidden;
    max-width: 50%;
    margin: auto;
    background-color: var(--input-bg);
    color: #fff;
    text-align: center;
    border-radius: 2px;
    padding: 16px;
    position: fixed;
    z-index: 1;
    left: 50%;
    top: 30px;
    font-size: 17px;
    transform: translateX(-50%);
}

.toast.show {
    visibility: visible;
    animation: fadein 0.5s, fadeout 0.5s 4.5s;
}

.toast.success {
    background-color: var(--text-muted);
}

.toast.error {
    background-color: #f44336;
}

.toast.warning {
    background-color: #ffae42;
}

@keyframes fadein {
    from {
        top: 0;
        opacity: 0;
    }

    to {
        top: 120px;
        opacity: 1;
    }
}

@keyframes fadeout {
    from {
        top: 120px;
        opacity: 1;
    }

    to {
        top: 0;
        opacity: 0;
    }
}



#navbar {
    width: 80%;
    height: 60px;
    background-color: var(--bg-color-light);
    text-align: center;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 5px;
    border-radius: 20px;
    margin-top: 20px;
    border: 1px solid var(--primary-color);
}

input[type="checkbox"] {
    display: none;
}

.menu {
    display: none;
}

.logo {
    padding-left: 5%;
    display: flex;
    align-items: center;
    gap: 15px;
}

.logo img {
    width: 50px;
    height: auto;
    border-radius: 50%;
    border: 2px solid var(--primary-color);

}

.logo-name {
    color: var(--primary-color);
    font-size: 20px;
    letter-spacing: 2px;
}

.nav-links {
    display: flex;
    align-items: center;
    gap: 10px;
}

nav ul {
    list-style: none;
    display: flex;
}

nav ul li {
    margin: auto 15px;
}

nav ul li a {
    color: var(--primary-color);
    text-decoration: none;
    font-size: 18px;
    transition: color 0.1s ease;
    display: flex;
    cursor: pointer;
}

nav ul li a:hover {
    color: var(--highlight-color);
}

#cart1 {
    align-items: center;
}

.profile {
    padding-right: 15px;
}

.profile-icon {
    cursor: pointer;
    width: 50px;
    height: 50px;
}

.profile-icon-in-links {
    width: 80px;
    height: 80px;
    margin: auto;
    background-color: rgba(127, 133, 133, 0.733);
    border-radius: 50%;
}

.profile-data {
    display: flex;
    justify-content: center;
    flex-direction: column;
    gap: 10px;
}

#cart {
    display: flex;
}

#Cartnumber {
    display: inline;
    transition: transform 0.3s ease;
}

#cart:hover #Cartnumber {
    animation: bounce 1s;
}

.links-in-profileicon {
    width: 370px;
    flex-direction: column;
    gap: 10px;
    position: absolute;
    background-color: rgba(255, 255, 255, 0.9);
    border: 4px solid var(--primary-color);
    border-radius: 8px;
    padding: 10px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    transition: opacity 0.5s ease-in-out, visibility 0.5s ease-in-out;
    top: 100px;
    right: 10%;
    visibility: hidden;
    opacity: 0;
    z-index: 1;
}

hr#profile-hr {
    margin: 0px;
    border: 1px solid var(--border-color-for-nav);
}

.profile:hover .links-in-profileicon {
    visibility: visible;
    opacity: 1;
}

#show-username,
#show-pincode,
#show-distributor-name {
    color: var(--text-muted);
    font-size: 18px;
    text-align: center;
    margin: 0px;
}

#show-email {
    color: var(--text-muted);
    font-size: 16px;
    text-align: center;
    margin: 0px;
}

#logout-link {
    color: var(--text-muted-alt);
    text-decoration: none;
    cursor: pointer;
    font-size: 18px;
    transition: color 0.1s ease;
    margin-right: 10px;
}

#logout-link:hover {
    color: var(--highlight-color);
}

#logout-link:active {
    color: var(--text-muted-alt);
}

#cart,
#Logindata {
    align-items: center;
}

#cart {
    gap: 5px;
}

#container {
    border: solid var(--primary-color);
    width: 95%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 20px;
    border-radius: 20px;
    padding: 10px;
}

.dropdown {
    position: relative;
    display: inline-block;
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 160px;
    z-index: 999;
    box-shadow: 0px 8px 16px rgba(0, 0, 0, 0.2);
    border-radius: 6px;
    padding: 0;
    cursor: pointer;
}

.dropdown-content li {
    list-style: none;
}

.dropdown-content li {
    text-decoration: none;
    display: block;
}

.dropdown-content li:hover {
    background-color: #ddd;
}

.dropdown:hover .dropdown-content {
    display: block;
}

.complaint-item {
    border: solid var(--primary-color);
    border-radius: 8px;
    padding: 12px;
    margin-bottom: 10px;
    border-radius: 8px;
    background-color: var(--cardbg);
    width: 350px;
}

.complaint-header {
    font-weight: bold;
    margin-bottom: 6px;
}

.complaint-details div {
    margin-bottom: 4px;
}

.no-complaints {
    text-align: center;
    color: #777;
    padding: 10px;
}

h1 {
    position: absolute;
}

@media (max-width: 786px) {
    body {
        height: auto;
    }

    h1 {
        position: static;
        font-size: 24px;
        text-align: center;
        margin-top: 20px;
    }

    form {
        flex-direction: column;
        width: 100%;
        gap: 10px;
    }

    #formsearch {
        flex-direction: row;
        margin: 10px auto;
        gap: 10px;
        justify-content: center;
        width:100%
    }
    #search {
        width: 50%;
    }


    .skeleton-img{
        width: 300px;
        height: 335px;
    }

    button {
        width: 100%;
        padding: 10px;
        font-size: 16px;
    }


    #container {
        width: 90%;
        
    }

    .order-list {
        display: flex;
        margin-top: 30px;
        padding: 0 10px;
        height: 530px;
        flex-wrap: nowrap;
        border-radius: 10%;
    }

    .order-container {
        width: 75%;
        padding: 20px;
    }

    .toast {
        max-width: 90%;
        font-size: 14px;
        padding: 10px;
    }

    #navbar {
        flex-direction: row;
        justify-content: space-between;
        width: 85%;
        padding: 10px;
        height: auto;
    }

    .nav-links {
        display: none;
    }

     .menu {
        display: block;
        cursor: pointer;
        font-size: 30px;
        color: var(--primary-color);
        padding-right: 5%;
    }

    input[type="checkbox"]:checked~.nav-links {
        display: flex;
        flex-direction: column;
        position: absolute;
        top: 100px;
        right: 2%;
        width: 90%;
        background-color: var(--bg-color-light);
        border-radius: 20px;
        padding: 10px;
        gap: 10px;
        z-index: 1;
        border: 2px solid var(--primary-color);
    }

    .links-in-profileicon {
        width: 90%;
        right: 2%;
    }

    .complaint-item {
        width: 85%;
    }

    nav ul {
        padding-left: 0px;
    }
    nav ul li{
        margin:auto 10px;
    }
    nav ul li a {
        font-size: 15px;
    }
    .links-in-profileicon {
        right: 5%;
        width: 320px;
        
    }

}